@import '../../App.scss';

.new-tournament-page {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    min-height: $fullScreen;
}

.new-tournament__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 0;
}

.new-tournament__players {
    box-sizing: border-box;
    box-shadow: $boxShadow--generic;
    margin: 10px;
    padding: .75em;
    width: 100%;
    overflow-x: hidden;
    max-height: 300px;
    scroll-behavior: smooth;
}
