@import '../../App.scss';

.new-tournament-page {
    align-items: flex-start;
    background-image: url('../../../public/bg/BG3.jpg');
    display: flex;
    justify-content: center;
    min-height: $fullScreen;
}

.new-tournament__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 0;
}

.new-tournament__players {
    background-color: white;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 1);
    box-sizing: border-box;
    margin: 10px;
    max-height: 300px;
    overflow-x: hidden;
    padding: .75em;
    scroll-behavior: smooth;
    width: 100%;
}

.new-tournament-title {
    color: white;
}
