@import '../../App.scss';

.login-page {
    align-items: center;
    background-image: url('../../../public/bg/BG2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: $fullScreen;
}

.login__container {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid $grey;
    box-shadow: $boxShadow--inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    padding: 1em;
    width: 30%;
}

.login-form {
    align-items: center;
    border-bottom: 1px solid $grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 80%;
}

.forgot-password__button {
    background-color: transparent;
    border: transparent;
    color: $grey;
    cursor: pointer;
    margin-top: .75em;
    transition: transform .2s ease-in-out;
}

.forgot-password__button:hover {
    color: $accent;
    transform: scale(1.1);
}
