@import '../../App.scss'; 

.dashboard-page {
    align-items: flex-start;
    background-image: url('../../../public/bg/BG.jpg');
    display: flex;
    justify-content: center;
    min-height: $fullScreen;
}

.text-white {
    color: white;
}

.dashboard__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    margin: 2em 0;
    width: 100%;

    h1 {
        margin: 0;
    }
}


.dasboard__body {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;

    .dashboard__players {
        background-color: white;
        box-sizing: border-box;
        box-shadow: $boxShadow--inset;
        padding: .5em 2em;
        width: 300px;
    }
    
    .dashboard__players__title {
        color: $accent;
        text-align: center;
    }
}

.dashboard-page__error {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $fullScreen;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.dashboard__error {
    animation: blink 0.5s infinite linear;
    font-family: $title-font;
    font-size: 2.5em;
    text-align: center;
}

