@import '../../App.scss'; 

.dashboard-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: $fullScreen;
}

.dashboard__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    margin: 2em 0;
    width: 100%;

    h1 {
        margin: 0;
    }
}


.dasboard__body {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;

    .dashboard__players {
        box-sizing: border-box;
        box-shadow: $boxShadow--generic;
        padding: .5em 2em;
        width: 300px;
    }
    
    .dashboard__players__title {
        color: $accent;
        text-align: center;
    }
}

