@import '../../App.scss';

.profile-tournament__item * {
    margin: 0;
    color: $secondary
}

.profile-tournament__item {
    background-color: $dominant;
    border-radius: 20px;
    box-shadow: $boxShadow--generic;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    padding: 1em;
}

.profile-tournament__item:hover {
    box-shadow: 0px 0px 10px $accent;
}

.tournament-item__content {
    margin: 1em 0;
}

.tournament-item__title {
    text-align: center;
    color: $accent-blue;
}

.tournament-item__buttons {
    display: flex;
    justify-content: space-around;
}
