@import '../../App.scss';

.dashboard-status__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-scheduled {
    color: #03fcf4;
}

.title-active {
    color: #03fc30;
}

.title-finished {
    color: #b447fc;
}
