@import '../../App.scss';

.dashboard-status__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-scheduled {
    color: $accent-blue;
}

.title-active {
    color: green;
}

.title-finished {
    color: $accent;
}
