@import '../../App.scss'; 

.about-page {
    align-items: center;
    background-image: url('../../../public/bg/BG.jpg');
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: $fullScreen;
}

.about__container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: space-around;
    padding: 2em;
    width: 100%;
}

.about__title {
    color: white;
}

.about__section {
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;
    box-shadow: $boxShadow--inset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 300px;
    padding: 1em;
    width: 30%;
}

.about-section__title {
    margin: 0;
    text-align: center;
    width: 100%;
}

.burguer-icon__container {
    background-color: $dominant;
    border-radius: 5px;
    display: inline-flex;
    padding: 0.25em;

    &:hover {
        cursor: pointer;
        opacity: .9;
        transform: scale(1.1);
    }
}

.burguer-icon {
    width: 10px;
}

.list__notes, .list__notes * {
    color: $grey;
    font-size: 12px;    
    margin: 0;
}
