@import '../../App.scss';

.form__control {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__select--generic {
    border-radius: 5px;
    border: 1px solid $grey;
    color: $grey;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
}

.form__select--generic:focus {
    border: 1px solid $accent;
    outline: 2px solid $accent;
}
