@import '../../App.scss';

.invitations-page {
    align-items: center;
    background-image: url('../../../public/bg/BG3.jpg');
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    min-height: $fullScreen;
    padding: 1em;
}

.invitations-title {
    color: white;
}

.tournament-invites__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    margin: 0;
    width: 100%;
}

.tournament-invites__invite {
    align-items: center;
    background: $dominant;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.invite__header {
    background-color: $accent;
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.invite-header__title {
    color: $secondary;
    text-align: center;
}

.invite__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em 0;
    width: 100%;
}

@media (min-width: 768px) {
    .invitations-page {
        margin: 0;
        padding: 2.5em 1em;
    }
}
