@import '../../App.scss';

.profile-page__info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    padding: 1em;
}

.profile-page__avatar {
    max-width: 200px;
}

@media (min-width:768px) {
    .profile-page__info {
        width: 30%;
        padding: 2.5em 1em;
    }
}
