@import '../../App.scss';

.header__container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $dominant;
    padding: 0.5rem 1rem;
    height: 120px;
}

.header__left {
    color: $secondary;
}

.header__menu {
    width: 30px;
}

.collapse__menu {
    box-sizing: border-box;
    border: 3px solid $accent;
    background-color: $dominant;
    position: absolute;
    top: 124px;
    left: -250px;
    padding: 1.5em;
    border-radius: 10px;
    max-width: 250px;
    transition: left 0.3s ease-in-out;
}

.collapse__menu.active {
    left: 20px;
}

.collapse__menu li {
    box-sizing: border-box;
    border-radius: 10px;
    list-style: none;
    margin: .5em 0;
    min-width: 100px;
    padding: 0 .75em;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.collapse__menu li a {
    color: $secondary;
}

.collapse__menu li:hover {
    background-color: $accent;
}

.header__logo {
    width: 120px;
}

.header__right {
    color: $secondary;
}

@media (min-width: 768px) {
    .header__logo {
        width: 150px;
    }
}
