@import '../../App.scss';

.profile-page__tournaments {
    align-items: center;
    background-image: url('../../../public/bg/BG.jpg');
    border-top: 1px solid $grey;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: .5em;
    min-width: 320px;
    padding: 1em 0;
}

.profile-tournaments__container {
    align-items:stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.profile-title {
    color: white;
}

.profile-tournaments__list {
    background-color: white;
    box-shadow: $boxShadow--inset;
    box-sizing: border-box;
    margin: 1em 0;
    max-width: 400px;
    min-width: 270px;
    padding: 1em;
    width: 45%;
}

.profile-tournaments__list > h2 {
    text-align: center;
}

.profile-tournament__error {
    text-align: center;
}

@media (min-width:768px) {
    .profile-page__tournaments {
        border-left: 1px solid $dominant;
        border-top: none;
        padding: 2em 1em;
        width: 70%;
    }
}
