@import '../../App.scss';

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.standing-page {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: $fullScreen;

    h1 {
        margin: 0;
    }

    .standing__active {
        color: green;
    }

    .standing__finished {
        color: $accent;
    }
}

.standing-page__error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: $fullScreen;
}

.standing__error {
    animation: blink 0.5s infinite linear;
}
