@import '../../App.scss';

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.standing-page {
    background-image: url('../../../public/bg/BG.jpg');
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: $fullScreen;

    h1 {
        margin: 0;
    }

    .title-white {
        color: white;
    }

    .standing__active {
        color: #03fc30;
    }

    .standing__finished {
        color: #b447fc;
    }
}

.standing-page__error {
    align-items: center;
    background-image: url('../../../public/bg/BG4.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: $fullScreen;
}

.standing__error {
    color: white;
    animation: blink 0.5s infinite linear;
}
