@import '../../App.scss'; 

.standing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $fullScreen;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.standing__error {
    animation: blink 0.5s infinite linear;
}
