@import '../../App.scss'; 

.signupdetail__page {
    align-items: center;
    background-image: url('../../../public/bg/BG.jpg');
    display: flex;
    justify-content: center;
    min-height: $fullScreen;
}

.signupdetail__container {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid $grey;
    box-shadow: $boxShadow--inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    padding: 1em;
    width: 30%;
}

.signupdetail__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupdetail__teammates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teammates__list {
    width: 90%;
    border: 1px solid $grey;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: .5em;
}
