@import '../../App.scss'; 

.signup-page {
    align-items: center;
    background-image: url('../../../public/bg/BG2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: $fullScreen;
}

.signup__container {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid $grey;
    box-shadow: $boxShadow--inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    padding: 1em;
    width: 30%;
}

.signup-form {
    align-items: center;
    border-bottom: 1px solid $grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 80%;
}
