// Colors
$dominant: black;
$secondary: white;
$accent: #62388E;

// Fonts

// Root Styles
a {
    text-decoration: none;
}

.r-button--transparent {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
