@import '../../App.scss'; 

.join-tournament-page {
    align-items: center;
    background-image: url('../../../public/bg/BG2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: $fullScreen;
}

.join-tournament__container {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid $grey;
    box-shadow: $boxShadow--inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    padding: 1em;
    width: 30%;
}

.join-tournament__buttons {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
